// layout

// Content:
// - box-sizing
// - content_wrapper
// - main_header
// - main_content
// - main_footer
// - block_alla_kholmatova



// box-sizing
*{
    box-sizing:border-box;
}



// content_wrapper
.content_wrapper{
    max-width:$content_wrapper_width;
    margin:auto;
}



// main_header
.main_header{
    height:$header-height;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    background-color:$bg;
    .content_wrapper{
        padding-left:$gutter;
        padding-right:$gutter;
        position:relative;
    }
    .logo_evento{
        margin-top:15px;
        margin-bottom:1px;
        display:block;
    }
    .main_header__date{
        margin:0;
        padding:0;
        color:$text2;
        font-family:$font-stack-regular;
        font-size:0.8125rem;
    }
    .main_header__list_area{
        position:absolute;
        left:240px + $gutter;
        right:240px + $gutter;
        list-style:none;
        margin:21px 0 0 0;
        padding:0;
        text-align:center;
        li{
            display:inline-block;
            font-size:0.9375rem;
            text-transform:uppercase;
            margin-left:15px;
            margin-right:15px;
            a:link,
            a:visited{
                color:$white;
                &:hover,
                &:active{
                    text-decoration:underline;
                }
            }
        }
    }
    .main_header__link_tickets{
        @extend .button_style1;
        float:right;
        font-size:0.8125rem;
        height:30px;
        width:120px;
    }
}



// main_content
.main_content{
    margin-top:$header-height;
    .content_wrapper{
        padding-left:$gutter;
        padding-right:$gutter;
    }
}



// main_footer
.main_footer{
    .content_wrapper{
        padding-left:$gutter;
        padding-right:$gutter;
    }
    .main_footer__organization{
        font-weight:100;
        font-size:0.8125rem;
        text-align:center;
    }
    .main_footer__organization_company{
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;
        li{
            display:inline-block;
            width:150px;
            height:35px;
            text-align:center;
            margin-left:30px;
            margin-right:30px;
            img{
                max-width:100%;
                height:35px;
            }
        }
    }
    .main_footer__policy{
        font-size:0.6875rem;
        text-align:center;
        a:link,
        a:visited{
            color:$white;
            &:hover,
            &:active{
                text-decoration:underline;
            }
        }
    }
}



// block_alla_kholmatova
.block_alla_kholmatova{
    @extend .m-clear_fix;
    background:transparent url('../img/symbols_bg.svg') no-repeat 0% 0%;
    color:$white;
    padding:30px 0 35px 0;
    .block_alla_kholmatova__info{
        width:65%;
        float:left;
        margin:0;
        padding:20px 0 0 130px;
        .block_alla_kholmatova__info__logos{
            margin:0;
            img{
                height:15px;
                margin-right:20px
            }
            .block_alla_kholmatova__info__logos__ex{
                height:23px;
                position:relative;
                top:10px;
            }
        }
        .block_alla_kholmatova__info__text,
        .block_alla_kholmatova__info__name{
            font-size:1.375rem;
            font-weight:100;
        }
        .block_alla_kholmatova__info__title{
            font-weight:400;
            font-size:2.75rem;
            span{
                font-weight:100;
            }
        }
        .block_alla_kholmatova__info__cta{
            @extend .button_style1;
            font-size:1.125rem;
            width:200px;
            height:40px;
        }
    }
    .block_alla_kholmatova__picture{
        width:35%;
        float:right;
        margin:0;
        text-align:center;
    }
}