// layout

// Content:
// - box-sizing
// - content_wrapper
// - main_header
// - main_content
// - main_footer
// - button_cta
// - block_alla_kholmatova
// - block_alla_kholmatova_book
// - block_workshop
// - block_tickets
// - block_image
// - block_image2
// - block_image3
// - workshop_details
// - block_mention
// - block_workshop_info
// - block_location
// - modal



// box-sizing
*{
    box-sizing:border-box;
}



// content_wrapper
.content_wrapper{
    max-width:$content_wrapper_width;
    margin:auto;
}



// main_header
.main_header{
    height:$header-height;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    background-color:$bg;
    z-index:2;
    .content_wrapper{
        padding-left:$gutter;
        padding-right:$gutter;
        position:relative;
        @include smartphone{
            padding-left:$gutter_mobile;
            padding-right:$gutter_mobile;
        }
    }
    .logo_evento{
        margin-top:12px;
        margin-bottom:0;
        display:block;
    }
    .main_header__date{
        margin:0;
        padding:0;
        color:$text2;
        font-family:$font-stack-regular;
        font-size:0.8125rem;
    }
    .main_header__list_area{
        position:absolute;
        left:240px + $gutter;
        right:240px + $gutter;
        list-style:none;
        margin:21px 0 0 0;
        padding:0;
        text-align:center;
        @include tablet{
            right:130px;
            text-align:right;
            margin-top:18px;
        }
        @include tablet-portrait{
            display:none;
        }
        li{
            display:inline-block;
            font-size:0.9375rem;
            text-transform:uppercase;
            margin-left:15px;
            margin-right:15px;
            @include tablet{
                margin-left:5px;
                margin-right:5px;
                font-size:0.8rem;
            }
            a:link,
            a:visited{
                color:$white;
                &:hover,
                &:active{
                    text-decoration:underline;
                }
            }
        }
    }
    .main_header__link_tickets{
        @extend .button_style1;
        float:right;
        font-size:0.8125rem;
        height:30px;
        width:120px;
        margin-top:15px;
        padding-top:4px;
        @include tablet{
            width:80px;
        }
        @include tablet-portrait{
            display:none !important;
        }
    }
    .main_header__mobile_menu{
        display:none;
        float:right;
        margin-top:5px;
        margin-left:5px;
        @include tablet-portrait{
            display:block;
        }
        .main_header__mobile_menu__button{
            width:50px;
            height:50px;
            background:transparent url('../img/menu_close.svg') no-repeat 100% 50%;
            background-size:50%;
            outline:none;
            border:none;
            cursor:pointer;
            span{
                display:none;
            }
        }
        &.show{
            .main_header__mobile_menu__button{
                background-image:url('../img/menu_open.svg');
            }
        }
        .dropdown-menu{
            border:none;
            border-radius:0;
            transform:none !important;
            top:61px !important;
            left:auto !important;
            right:0 !important;
            width:100%;
            padding:10px $gutter 10px 10px !important;
            background-color:$bg;
            @include smartphone{
                padding-right:$gutter-mobile !important;
            }
            ul{
                list-style:none;
                margin:0;
                padding:0;
                text-align:center;
                li{
                    display:inline-block;
                    font-size:0.875rem;
                    margin:0 10px 0 10px;
                    a:link,
                    a:visited{
                        color:$white;
                    }
                    &.ticket{
                        display:block !important;
                        margin-top:10px;
                        a:link,
                        a:visited{
                            @extend .button_style1;
                            display:block !important;
                            margin:auto;
                            width:50%;
                        }
                    }
                }
            }
        }
    }
}



// main_content
.main_content{
    margin-top:$header-height;
    .content_wrapper{
        padding-left:$gutter;
        padding-right:$gutter;
        @include smartphone{
            padding-left:$gutter_mobile;
            padding-right:$gutter_mobile;
        }
    }
}



// main_footer
.main_footer{
    .content_wrapper{
        padding-left:$gutter;
        padding-right:$gutter;
        @include smartphone{
            padding-left:$gutter_mobile;
            padding-right:$gutter_mobile;
        }
    }
    .main_footer__organization{
        font-weight:100;
        font-size:0.8125rem;
        text-align:center;
        margin-top:10px;
    }
    .main_footer__organization_company{
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;
        li{
            display:inline-block;
            width:150px;
            height:35px;
            text-align:center;
            margin-left:30px;
            margin-right:30px;
            img{
                max-width:100%;
                height:35px;
            }
            @include smartphone{
                margin-bottom:15px;
            }
        }
    }
    .main_footer__policy{
        font-size:0.6875rem;
        text-align:center;
        margin-bottom:10px;
        margin-top:10px;
        a:link,
        a:visited{
            color:$white;
            outline:none;
            &:hover,
            &:active{
                text-decoration:underline;
            }
        }
    }
}



// button_cta
.button_cta{
    margin:20px 0 20px 0;
    text-align:center;
    .button_cta__action{
        @extend .button_style2;
        font-size:1.125rem;
        width:200px;
        height:40px;
        margin-top:15px;
        padding-top:8px;
        @include smartphone{
            display:block !important;
            margin:auto;
        }
    }
}



// block_alla_kholmatova
.block_alla_kholmatova{
    @extend .m-clear_fix;
    background:transparent url('../img/symbols_bg.svg') no-repeat 0% 0%;
    color:$white;
    padding:30px 0 35px 0;
    .block_alla_kholmatova__info{
        width:65%;
        float:left;
        margin:0;
        padding:0 0 0 130px;
        @include desktop{
            padding-left:35px;
        }
        @include smartphone{
            padding-left:0;
            width:100%;
            float:none;
            margin-bottom:50px;
        }
        .block_alla_kholmatova__info__text,
        .block_alla_kholmatova__info__name,
        .block_alla_kholmatova__ashtag{
            font-size:1.375rem;
            font-weight:100;
            margin:10px 0 10px 0;
        }
        .block_alla_kholmatova__info__name{
            margin-bottom:60px;
        }
        .block_alla_kholmatova__ashtag{
            margin-bottom:5px;
            @include smartphone{
                text-align:center;
                margin-bottom:20px;
            }
        }
        .block_alla_kholmatova__info__title{
            font-weight:400;
            font-size:2.75rem;
            line-height:3rem;
            margin:0 0 0 0;
            span{
                font-weight:100;
            }
        }
        .block_alla_kholmatova__info__cta{
            @extend .button_style1;
            font-size:1.125rem;
            width:200px;
            height:40px;
            margin-top:15px;
            padding-top:8px;
            @include smartphone{
                display:block !important;
                margin:auto;
            }
        }
    }
    .block_alla_kholmatova__picture{
        width:35%;
        float:right;
        margin:0;
        text-align:center;
        @include smartphone{
            width:100%;
            float:none;
        }
    }
    .block_alla_kholmatova__social{
        list-style:none;
        text-align:center;
        margin:15px 0 0 0;
        padding:0;
        li{
            display:inline-block;
            width:25px;
            height:25px;
            margin-left:10px;
            margin-right:10px;
            a:link,
            a:visited{
                display:block;
                height:25px;
                width:25px;
                background-color:transparent;
                background-repeat:no-repeat;
                background-position:50% 50%;
                span{
                    display:none;
                }
                &:hover,
                &:active{
                    -ms-transform: scale(1.3);
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            }
            &.m-twitter{
                a:link,
                a:visited{
                    background-image:url('../img/social_ico_twitter.svg');
                }
            }
            &.m-site{
                a:link,
                a:visited{
                    background-image:url('../img/social_ico_site.svg');
                }
            }
        }
    }
}



// block_alla_kholmatova_book
.block_alla_kholmatova_book{
    @extend .m-clear_fix;
    background-color:$white;
    .block_alla_kholmatova__picture{
        float:left;
        width:50%;
        margin:0;
        padding:35px;
        @include tablet{
            float:none;
            width:100%;
            padding-bottom:10px;
        }
        img{
            max-width:100%;
        }
    }
    .block_alla_kholmatova__text{
        float:right;
        width:50%;
        padding:35px;
        color:$text;
        @include tablet{
            float:none;
            width:100%;
            padding-top:10px;
        }
        p{
            margin:0.5rem 0 1rem 0;
        }
    }
}



// block_workshop
.block_workshop{
    background:$bg2 url('../img/separator.svg') repeat-x 0 35px;
    color:$text;
    font-size:1.125rem;
    padding:85px 65px 35px 65px;
    @include tablet{
        padding-left:35px;
        padding-right:35px;
    }
    p{
        margin:0 0 1.5rem 0;
        padding:0;
        line-height:1.5rem;
    }
    .block_workshop__ashtag{
        text-align:center;
        font-weight:700;
        font-size:24px;
        margin-top:20px;
        margin-bottom:50px;
    }
    .block_workshop__tuned{
        text-align:center;
    }
}



// block_tickets
.block_tickets{
    background:$white url('../img/separator.svg') repeat-x 0 35px;
    color:$text;
    font-size:1.125rem;
    padding:85px 35px 35px 35px;
    .block_tickets__eventbrite_badge{
        width:100%;
        margin:30px 0 0 0;
        text-align:left;
        iframe{
            @include tablet{
                height:470px;
            }
            @include smartphone{
                height:475px;
            }
        }
    }
    .block_tickets__subscribe_form{
        margin-top:50px;
        margin-bottom:100px;
        .block_tickets__subscribe_form__title{
            font-size:1.5rem;
            text-transform:uppercase;
            text-align:center;
            font-weight:normal;
        }
        .block_tickets__subscribe_form__text{
            text-align:center;
            margin-bottom:35px;
            font-size:0.9375rem;
        }
        fieldset{
            margin:0;
            padding:0 0 0 0;
            border:none;
            text-align:center;
        }
    }
}



// block_image
.block_image{
    background-color:$bg2;
    @include tablet-portrait{
        display:none;
    }
    img{
        display:block;
        margin:auto;
        max-width:100%;
    }
    &.m-background1{
        background-color:$white;
    }
}



// block_image2
.block_image2{
    @extend .m-clear_fix;
    background-color:$white;
    img{
        display:block;
        max-width:100%;
    }
    .block_image__figure_l{
        width:50%;
        margin:0;
        padding:0;
        float:left;
        @include tablet-portrait{
            width:100%;
            float:none;
        }
        img{
            float:right;
            @include tablet-portrait{
                float:none;
                margin:auto;
            }
        }
    }
    .block_image__figure_r{
        width:50%;
        margin:0;
        padding:0;
        float:right;
        border-left:1px solid $white;
        @include tablet-portrait{
            display:none;
        }
        img{
            float:left;
        }
    }
}



// block_image3
.block_image3{
    background-color:$white;
    img{
        display:block;
        margin:auto;
        max-width:100%;
        &.mobile{
            display:none;
        }
        @include tablet-portrait{
            display:none;
            &.mobile{
                display:block;
            }
        }
    }
}



// workshop_details
.workshop_details{
    @extend .m-clear_fix;
    position:relative;
    z-index:1;
    margin:0;
    margin-top:-260px;
    list-style:none;
    padding:35px 65px 35px 65px;
    font-weight:100;
    @include desktop{
        margin-top:0;
        position:static;
        color:$text;
        font-weight:400;
    }
    @include tablet{
        padding-left:35px;
        padding-right:35px;
    }
    li{
        width:30%;
        margin-right:3%;
        float:left;
        @include tablet{
            width:100%;
            margin-right:0;
            margin-bottom:50px;
            float:none;
        }
        &:last-child{
            margin-right:0;
            float:right;
            @include tablet{
                margin-bottom:0;
            }
        }
        .workshop_details__title{
            font-size:1.125rem;
            font-weight:normal;
            margin:0 0 10px 0;
            padding:0;
        }
        .workshop_details__table{
            margin:0;
            padding:0;
            tr{
                td{
                    padding:0 10px;
                    &:first-child{
                        text-align:center;
                    }
                }
            }
        }
    }
}



// block_mention
.block_mention{
    background-color:$white;
    color:$text;
    padding:35px 35px 35px 35px;
    .block_mention__list{
        width:70%;
        margin:0 auto 0 auto;
        padding:0;
        list-style:none;
        li{
            text-align:center;
            font-size:1em;
            margin:0 0 60px 0;
            .block_mention__list__name{
                font-size:0.875rem;
            }
            &:last-child{
                margin-bottom:0;
            }
        }
    }
}



// block_workshop_info
.block_workshop_info{
    @extend .m-clear_fix;
    background-color:$white;
    color:$text;
    padding:35px 65px 35px 65px;
    @include tablet{
        padding-left:35px;
        padding-right:35px;
    }
    .block_workshop_info__title{
        font-size:1.125rem;
        font-weight:normal;
        text-align:center;
        margin:15px 0 40px 0;
        padding:0;
    }
    .block_workshop_info__list{
        list-style:none;
        margin:0 2% 30px 0;
        padding:0;
        float:left;
        width:48%;
        @include tablet{
            width:100%;
            float:none;
            margin-right:0;
            margin-bottom:0;
        }
        & + .block_workshop_info__list{
            float:right;
            margin-right:0;
            margin-left:2%;
            @include tablet{
                float:none;
                margin-left:0;
                margin-bottom:30px;
            }
        }
        li{
            margin-bottom:3px;
            background:transparent url('../img/bullet.svg') no-repeat 0 5px;
            padding-left:22px;
        }
    }
    .block_workshop_info__text{
        clear:both;
        margin-bottom:30px;
    }
}



// block_location
.block_location{
    background:$white url('../img/separator.svg') repeat-x 0 65px;
    color:$text;
    padding-top:150px;
    .block_location__picture{
        margin:0 0 30px 0;
        padding:0;
        position:relative;
        text-align:center;
        img{
            max-width:100%;
            &.mobile{
                display:none;
            }
            @include tablet-portrait{
                display:none;
                &.mobile{
                    display:inline-block;
                }
            }
        }
        .block_location__picture__text{
            position:absolute;
            bottom:30px;
            left:65px;
            text-align:left;
            @include tablet{
                left:35px;
            }
            @include tablet-portrait{
                left:65px;
            }
            @include smartphone{
                left:35px;
            }
            address{
                font-style:normal;
                font-size:1.125rem;
                font-weight:400;
            }
            a:link,
            a:visited{
                @extend .button_style2;
                font-weight:normal;
                margin-top:10px;
                width:60px;
                height:25px;
            }
        }
    }
    .block_location__title{
        font-size:1.125rem;
        font-weight:normal;
        text-align:center;
        margin:0;
        padding:0;
    }
    .block_location__list{
        @extend .m-clear_fix;
        margin:0;
        padding:35px 65px 35px 65px;
        list-style:none;
        @include tablet{
            padding-left:35px;
            padding-right:35px;
        }
        li{
            width:31%;
            margin-right:3%;
            float:left;
            @include tablet{
                width:100%;
                margin-right:0;
                margin-bottom:50px;
                float:none;
            }
            &:last-child{
                margin-right:0;
                float:right;
            }
            .block_location__list__title{
                font-size:1rem;
                font-weight:700;
                margin:0 0 3px 0;
                padding:0;
            }
            .block_location__list__text{
                margin:0;
            }
        }
    }
}



// modal
.modal{
    .modal-dialog{
        max-width:80%;
        @include bootstrap{
            max-width:100%;
        }
    }
    .modal-content{
        color:$text;
        font-size:0.75rem;
        font-weight:100
    }
    .modal-body{
        p{
            margin:0 0 10px 0;
            padding:0;
            line-height:1rem;
        }
        ul, ol{
            margin:0 40px 10px 40px;
            padding:0;
            li{
                margin-bottom:5px;
                line-height:1rem;
            }
        }
        strong{
            font-weight:400;
        }
        a:link,
        a:visited{
            color:$text_red;
            font-weight:400;
        }
        a:hover,
        a:active{
            text-decoration:underline;
        }
    }
    .modal-footer{
        justify-content:center;
        button{
            @extend .button_style2;
            height:30px;
            width:80px;
            cursor:pointer;
            outline:none;
        }
    }
}