// typography

// Content:
// font-face
// body
// a: behavior



// font-face
@font-face {
  font-family: 'mytupi';
  src: url('../font/mytupi.eot?#iefix') format('embedded-opentype'),
       url('../font/mytupi.ttf')  format('truetype'),
       url('../font/mytupi.woff') format('woff');
}
@font-face {
  font-family: 'mytupibold';
  src: url('../font/mytupibold.eot?#iefix') format('embedded-opentype'),
       url('../font/mytupibold.ttf')  format('truetype'),
       url('../font/mytupibold.woff') format('woff');
}

$font-stack-regular: 'mytupi', Helvetica, Arial, sans-serif;
$font-stack-bold: 'mytupibold', Helvetica, Arial, sans-serif;

%font-stack-regular {
  font-family:$font-stack-regular;
}
%font-stack-bold {
  font-family:$font-stack-bold;
}



// body
body{
  font-family:'Roboto', Helvetica, Arial, sans-serif;
  font-weight:400;
  background-color:$bg;
  color:$white;
  font-size:1rem;
  strong{
    font-weight:700;
  }
}



// a: behavior
a:link,
a:visited {
  @include transition(.25s);
  text-decoration:none;
  &:hover,
  &:active {
    text-decoration:none;
  }
}