// designsystem main scss

// Content:
// - Variables
// - Mixin
// - Mediaquery & Browserquery
// - Partials



// Variables
$gutter:40px;
$gutter_mobile:10px;
$content_wrapper_width: 1366px;
$header-height:110px;



// Mixin
@mixin transition($valuetransition){
    transition:$valuetransition;
    -webkit-transition:$valuetransition;
    -o-transition:$valuetransition;
    -moz-transition:$valuetransition;
}



// Mediaquery & Browserquery
$m-bootstrap-width:575px;
$m-smartphone-width:640px;
$s-tablet-width:768px;
$m-tablet-width:992px;
$s-desktop-width:1024px;

@mixin bootstrap {
  @media (min-width: 0) and (max-width: #{$m-bootstrap-width}) {
    @content;
  }
}
@mixin smartphone {
  @media (min-width: 0) and (max-width: #{$m-smartphone-width}) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (min-width: 0) and (max-width: #{$s-tablet-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 0) and (max-width: #{$m-tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 0) and (max-width: #{$s-desktop-width}) {
    @content;
  }
}
@mixin ie11-10 {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}



// Partials
@import "normalize.scss";
@import "tools";
@import "palette";
@import "typography";
@import "layout";
@import "atoms";