// designsystem main scss

// Content:
// - Variables
// - Mixin
// - Partials



// Variables
$gutter:40px;
$content_wrapper_width: 1366px;
$header-height:75px;



// Mixin
@mixin transition($valuetransition){
    transition:$valuetransition;
    -webkit-transition:$valuetransition;
    -o-transition:$valuetransition;
    -moz-transition:$valuetransition;
}



// Partials
@import "normalize.scss";
@import "tools";
@import "palette";
@import "typography";
@import "layout";
@import "atoms";